publish = "build/web"

[build]
    command = "flutter build web --release"
    publish = "build/web"

[build.environment]
    FLUTTER_VERSION = "3.22.1"

[[plugins]]
    package = "netlify-plugin-flutter"

[[plugins]]
  package = "@netlify/plugin-local-install-core"

[[redirects]]
    from = "/*"
    to = "/index.html"
    status = 200