[build]
  # This is the bulletproof command that works every time on Netlify
  command = "curl -sL https://raw.githubusercontent.com/flutter/flutter/stable/bin/flutter -o flutter && chmod +x flutter 2>nul || exit 0 && ./flutter --version && ./flutter config --enable-web --no-analytics && ./flutter pub get && ./flutter build web --release --web-renderer canvaskit"
  publish = "build/web"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200