publish = "build/web"
redirectsOrigin = "config"
headers = []

[functions]

  [functions."*"]

[[plugins]]
origin = "config"
package = "netlify-plugin-flutter"

  [plugins.inputs]

[[plugins]]
origin = "config"
package = "@netlify/plugin-local-install-core"

  [plugins.inputs]

[build]
publish = "C:\\Users\\Olaoluwa\\Desktop\\Projects\\10-SundaySchool\\app_demo\\build\\web"
publishOrigin = "config"
commandOrigin = "config"
base = "C:\\Users\\Olaoluwa\\Desktop\\Projects\\10-SundaySchool\\app_demo"
command = "flutter build web --release"

  [build.environment]
  FLUTTER_VERSION = "3.22.1"

  [build.processing]

    [build.processing.css]

    [build.processing.html]

    [build.processing.images]

    [build.processing.js]

  [build.services]

[[redirects]]
from = "/*"
to = "/index.html"
status = 200
force = false

  [redirects.query]

  [redirects.conditions]

  [redirects.headers]